body {
  margin: 0 auto;
  padding: 0;

}


body {
  background-color: whitesmoke;
  width: 1690px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

canvas{
  margin: 10px 0 10px 0;
}

canvas:hover{
  cursor: crosshair;

}
