h3, body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 1680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(135deg, #8CAF81, whitesmoke);
}

h3, .more-info-links{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

h3{
  align-items: flex-end;
  margin-bottom: 15px;
}

.more-info-links{
  font-size: 20px;
  margin-top: 8px;
}

h4{
  margin: 0;
}


h2{
  margin: 10px 0 4px 0;
  font-size: 21px;
}

canvas:hover{
  cursor: crosshair;

}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: green;
}


button{
  height: 24px;
  font-size: 16px;
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
  color: white;
  transition: all .5s;
  margin: 0 5px 0 5px;
}

button:hover{
  cursor: pointer;
  color: black;
}

input {
  font-family: 'Roboto', sans-serif;
  text-indent: 5px;
  vertical-align: bottom;
}

#reset-button{
  background-color: blue;
}

#reset-button:hover{
  background-color: lightblue;
}

#random-button{
  background-color: red;
}

#random-button:hover{
  background-color: pink;
}

#num-burned{
  transition-timing-function: steps(4, end);
}
