h3, body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


body {
  background-color: whitesmoke;
  width: 1680px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

h3, .more-info-links{
  display: flex;
  justify-content: space-between;
}

canvas{
  margin: 10px 0 10px 0;
}

canvas:hover{
  cursor: crosshair;

}

button{
  font-size: 20px;
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
  color: white;
  transition: all .5s;
  margin: 0 5px 0 5px;
}

button:hover{
  cursor: pointer;
  color: black;
}

input {
  font-family: 'Roboto', sans-serif;
  text-indent: 5px;
  vertical-align: bottom;
}

#reset-button{
  background-color: blue;
}

#reset-button:hover{
  background-color: lightblue;
}

#random-button{
  background-color: red;
}

#random-button:hover{
  background-color: pink;
}

#num-burned{
  transition-timing-function: steps(4, end);
}
